.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.true{
  color: gray;
  text-decoration: line-through;
  font-size: 16px;
  margin-bottom: 20px;

 
}

.game-over{
  color: red;
  font-size: 40px;
}

.highScore{
  color: green;
}

.lowScore{
  color:red;
}
body{
  font-family: serif;
  text-align: center;
}
.hint{
  color: blue;
  font-family: cursive;
}

.availLet{
  font-size: 30px;
}

.game{

  background-color: antiquewhite;
  width: auto;
  height: 100vh;
  font-size: 16px;
}
.scoreDiv{
  margin-bottom: 20px;
}
h1{
  font-family: fantasy;
}
.letterDiv{
  margin-bottom: 20px;

}
.letters{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.titleLetters{
  margin-bottom: 20px;

}
.space{
  margin-top: 100px;

}